.header {
  position: relative;
  min-height: 500px; // old browser support
  min-height: 60vh;
  background: rgba(#0f7094, 0.95);
  color: #fdfdfd;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1124px) {
    margin-top: 64px;
  }
}

.bgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.aboutCompany {
  max-width: 800px;
  width: 100%;
  font-weight: 300;
  text-align: center;
}
.aboutDescription {
  max-width: 560px;
  width: 100%;
  font-size: 1rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 768px) {
    font-size: 0.8rem;
  }
}
.displayOne {
  font-size: 2.99rem;
  @media screen and (max-width: 768px) {
    font-size: 2.2rem;
  }
}

.serviceHeader {
  position: relative;
  min-height: 180px; // old browser support
  min-height: 25vh;
  background: rgba(#0f7094, 0.85);
  color: #fdfdfd;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1124px) {
    margin-top: 64px;
  }
  @media screen and (min-width: 768px) {
    min-height: 350px; // old browser support
    min-height: 40vh;
  }
}
