*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.service-desc {
  position: relative;
  z-index: 4;
  background-color: #fafafa;
  margin-top: -4rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  padding: 1.5rem;
  @media screen and (min-width: 479px) {
    padding: 4rem;
  }

  @media screen and (min-width: 769px) {
    padding: 4rem 8rem;
  }
}
