.services {
  padding-bottom: 1.5rem;
  @media screen and (min-width: 489px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    > article {
      flex: 0 1 50%;
      padding: 8vh 4vw;
    }
  }
  @media screen and (min-width: 769px) {
    > article {
      flex: 0 1 33.333%;
      padding: 4vw;
    }
  }

  &::after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
  }
  zoom: 1;
}
