.card {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.cardImage picture img {
  border-radius: 4px;
}
.cardHeader,
.cardBody {
  position: relative;
  padding-bottom: 0rem;
}

.cardBody {
  > p {
    font-size: 0.9rem;
  }
  flex-grow: 1;
  padding: 1rem 0;
}

.cardHeaderTitle {
  > h3 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0.8rem;
    margin-top: 2rem;
    color: darken(#199bcc, 20%);
  }
  @media screen and (min-width: 478px) {
    position: absolute;
    left: 0;
    bottom: 100%;
    margin-bottom: 1rem;
    //background: #199bcc;
    text-align: center;
    display: inline-block;
    padding: 0.2rem 0;
    z-index: 2;
    border-bottom: 1px dashed #199bcc;
    width: 100%;

    > h3 {
      margin: 0;
      color: #199bcc;
      font-weight: 400;
      letter-spacing: 0.3px;
      text-align: left;
    }
  }
}
.readMore {
  padding: 0.5rem 1rem;
  border-radius: 25px;
  color: rgba(15, 112, 148, 0.95);
  background-color: #f6f6f6;
  border: 1px solid transparent;
  transition: 0.2s ease;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.6px;
  text-decoration: none;

  &:hover {
    border-color: rgba(15, 112, 148, 0.95);
  }
}
